<footer id="footer" class="text-center">

    <a href="#" class="to-the-top">
        <i class="fa fa-arrow-circle-o-up"></i>
    </a>

    <h2>Ситносецкана</h2>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center v-card">

                <div class="col-sm-6 col-lg-3">
                    <div class="open-daily">
                        <span class="day">Промо смути</span>
                        <span class="hours">Само 130 РСД</span>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <div class="open-daily">
                        <span class="day">Супер шејк</span>
                        <span class="hours">200 РСД</span>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <div class="simple-contact">
                        <span class="address">Посластица недеље</span>
                        <span class="postal-code">240 РСД</span>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <div class="simple-contact">
                        <span class="mobile"><a href="#">064/27-33-712</a></span>
                        <span class="email"><a href="#">vocnasalata@yahoo.co.uk</a></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <ul class="social-icon clearfix">
        <li>
            <a href="#"><i class="fa fa-facebook"></i></a>
        </li>
        <li>
            <a href="#"><i class="fa fa-twitter"></i></a>
        </li>
        <li>
            <a href="#"><i class="fa fa-pinterest"></i></a>
        </li>
        <li>
            <a href="#"><i class="fa fa-google-plus"></i></a>
        </li>
        <li>
            <a href="#"><i class="fa fa-instagram"></i></a>
        </li>
    </ul>


    <p class="copyrights">© 2014 <a href="index">Berg</a>. All Rights Reserved. </p>
</footer>