<nav id="main-navbar" class="hidden-xs hidden-sm">
    <div class="nav hidden-xs">
        <div class="main-reorder pull-right">
            <a href="#">
                <i class="fa fa-bars"></i>
            </a>
        </div>

        <div class="logo pull-left">
            <a href="index.html">
                <figure>
                    <img src="/res/frontend/berg/img/logo1.png" class="light-logo" alt="Berg HTML Theme"/>
                    <img src="/res/frontend/berg/img/logo2.png" class="dark-logo" alt="Berg HTML Theme"/>
                </figure>
            </a>
        </div>
        <div class="main-nav">
            {% include snippets/defaultsite/normal-navbar.html %}
        </div>
    </div>
</nav>