<div id="mobile-nav" class="visible-xs visible-sm">
    <header>
        <div class="container-fluid">
            <ul class="menu-header">
                <li class="pull-left">
                    <a href="/" class="logo">
                        <figure>
                            <img src="/res/frontend/berg/img/logo2.png" alt="Berg HTML Theme"/>
                        </figure>
                    </a>
                </li>
                <li class="reorder pull-right"><a href="#" title=""><i class="fa fa-bars"></i></a></li>
            </ul>
        </div>
    </header>
    <div class="" id="flyout-container">
        {% include snippets/defaultsite/mobile-navbar.html %}
    </div>
</div>