<div class="{{section-intro-class}}" data-opacity-start="30" data-opacity-end="100" data-background="/res/frontend/berg/img/intro.jpg" data-background-odl="http://placehold.it/1440x900">
    <div class="pre-content">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-8 col-md-offset-2">
                    <h1 class="parallax-element-first">Ситно сецкана</h1>
                    <p class="parallax-element-second"><a href="/jelovnik/meni_okt.31-nov.4.pdf" target="_blank">Преузмите јелевник у ПДФ-у.</a> Телефон: 064/27-33-712</p>
                </div>
            </div>
        </div>
    </div>

    <a class="arrow1 arrow-section hidden-xs" href="#">
        <i class="fa fa-angle-down"></i>
    </a>
    <a class="arrow2 arrow-section hidden-xs" href="#" style="">
        <i class="fa fa-angle-up"></i>
    </a>
</div>