{% extends "admin/devoops/layout.html" %}

{% block sidebar %}{%  endblock %}
{% block sidebar-show %}sidebar-show{% endblock %}

{% block content %}
<div class="row full-calendar">
    <div class="col-sm-3">
        <div id="add-new-event">
            <h4 class="page-header">Change active week</h4>
            <div class="form-group">
                <label>Week: </label>
                <select data-role="select-week">
                </select>
            </div>
            <a href="#" data-role="change-week" class="btn btn-primary pull-right">Change</a>
            <div class="clearfix"></div>
        </div>
        <div id="external-events">
            <div id="tabs">
                <ul>
                    {% for type in product-types %}
                        {% if type.weekly %}
                        <li><a href="#tabs-types-{{type.id}}">{{type.name}}</a></li>
                        {% endif %}
                    {% endfor %}
                </ul>
                {% for type in product-types %}
                    {% if type.weekly %}
                    <div id="tabs-types-{{type.id}}">
                        <div class=" filter-products" style="margin-bottom: 73px;">
                            <form class="js-filter-products" data-target="#tabs-types-{{type.id}}">
                                <div class="form-group">
                                    <div class="col-sm-8">
                                        <input name="name" autocomplete="off" type="text" class="form-control" placeholder="{% fmt shop_product_name_filter_placeholder %}" data-toggle="tooltip" data-placement="bottom" title="{% fmt page_name_filter_tooltip %}" value="{{product.name}}">
                                    </div>
                                </div>
                                <input name="product_type_id" type="hidden" class="form-control" placeholder="{% fmt shop_product_name_filter_placeholder %}" data-toggle="tooltip" data-placement="bottom" title="{% fmt page_name_filter_tooltip %}" value="{{product.name}}">


                                <div class="form-group">
                                    <div class="col-sm-4">
                                        <button type="submit" class="btn btn-xs btn-primary btn-label-left">
                                            <span><i class="fa fa-filter"></i></span>
                                            {% fmt shop_product_filter %}
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>

                        {% for product in product-list %}
                            {% ifequal product.product_type_id type.id %}
                                <div class="external-event js-filtering-product" data-product-id="{{product.id}}" data-title="{{product.name}}" data-description="{{product.ingredients}}" title="{{product.ingredients}}">{{product.name}}</div>
                            {% endifequal %}
                        {% endfor %}
                    </div>
                    {% endif %}
                {% endfor %}

            </div>

            {% comment %}
            <h4 class="page-header" id="events-templates-header">Draggable Events</h4>
            {% for product in product-list %}
            <div class="external-event" data-id="{{product.id}}" data-name="{{product.name}}">{{product.name}}</div>
            {% endfor %}
            <div class="external-event">Work time</div>
            <div class="external-event">Conference</div>
            <div class="external-event">Meeting</div>
            <div class="external-event">Restaurant</div>
            <div class="external-event">Launch</div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" id="drop-remove"> remove after drop
                    <i class="fa fa-square-o small"></i>
                </label>
            </div>
            {% endcomment %}
        </div>
    </div>
    <div class="col-sm-9">
        <div id="calendar"></div>
    </div>
</div>
{% endblock %}
{% block custom-scripts %}
<script>
(function(){
    var products_list_json = {{product-list-json|safe}};
    console.log(products_list_json);



}())

$(document).ready(function() {
        // Set Block Height
        SetMinBlockHeight($('#calendar'));
        // Create Calendar
        DrawFullCalendar();
        $("#tabs").tabs();
        var data = [];
        for (var i=1; i <= 52; i++){
				data[i-1] = {id: i, text: i};
			}
        var $selectWeek = $('[data-role="select-week"]').width('100%');
        $selectWeek.select2({minimumResultsForSearch: 10, data: data, placeholder: {id: '', text: 'Select view'}, allowClear: false}).val('{{selected-week}}').change();
        $('[data-role="change-week"]').on('click',function(e){
            e.preventDefault();
              $.ajax({
                  type: "PUT",
                  url: '/admin/shop/menu/activeWeek/' + $selectWeek.val(),
                  dataType: 'json'
              }).success(function(msg){
                  $('.calendar-week-highlight').removeClass('calendar-week-highlight');
                  $.each(msg, function(i, item) {
                      $('.fc-day[data-date="' + item['start-date']+ '"]').closest('.fc-week').addClass('calendar-week-highlight');
                  });

              });
        });

$('form.js-filter-products input[name="name"]').keyup(function(){
console.log('change')
$(this).closest('.js-filter-products').submit();
});
        $('form.js-filter-products').submit(function(e){
            e.preventDefault();
            var $this = $(this);
            var nameSearch = $this.find('input[name="name"]').val();
            var $target = $($this.attr('data-target'));
            $target.find('.js-filtering-product').show();
console.log('searching: ' + nameSearch);
            if (nameSearch !== null && nameSearch !== ''){
                $target.find('.js-filtering-product').each(function(i){
                    var $elem = $(this)
                    var currentName = $elem.attr('data-title') || "";
                    var nameSearchLower = nameSearch.toLowerCase();
                    if (currentName.toLowerCase().indexOf(nameSearchLower) > -1){
                        $elem.show();
                    }else{
                        $elem.hide();
                    }
                });
            }
        });
});
</script>
{% endblock %}