{% extends "admin/devoops/layout.html" %}

{% block sidebar %}
<h2>Filter</h2>
<form id="filter">
    <div class="form-group">
        <div class="col-sm-12">
            <input name="name" type="text" class="form-control" placeholder="{% fmt shop_product_name_filter_placeholder %}" data-toggle="tooltip" data-placement="bottom" title="{% fmt page_name_filter_tooltip %}" value="{{product.name}}">
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-12">
            <select name="product_type_id" id="s2_product_type" multiple="multiple" style="width:100%"></select>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-6">
            <button type="submit" class="btn btn-primary btn-label-left">
                <span><i class="fa fa-filter"></i></span>
                {% fmt shop_product_filter %}
            </button>
        </div>
    </div>
</form>
{%  endblock %}

{% block content %}
<div class="row">
    <div id="breadcrumb" class="col-xs-12">
        <a href="#" class="show-sidebar"> <i class="fa fa-bars"></i>
        </a>
        <ol class="breadcrumb pull-left">
            <li><a href="#">User...</a></li>
        </ol>
        <div id="social" class="pull-right">

            <a href="#" data-href="/admin/user/{{user.id}}/{{user.user_name}}">
                <i class="fa fa-2x fa-trash-o pull-right prog-admin-pages-delete" data-action="" style=""></i>
            </a>

        </div>
    </div>
</div>

<div>
    <h2>List user</h2>
    <table id="list" class="table table-striped table-bordered table-hover table-heading no-border-bottom">
        <thead>
        <tr>
            <th>username</th>
            <th>email</th>
            <th>activated</th>
            <th>password change</th>
        </tr>
        </thead>
        <tbody>
        {% for user in user-list %}
        <tr>
            <td><a href="/admin/user/{{user.id}}/{{user.user_name}}">{{user.user_name}}</a></td>
            <td>{{user.email}}</td>
            <td><a href="/admin/user/{{user.id}}/{{user.user_name}}/activate" title="Click to change" data-role="activate" data-action="{{activated|bool-not}}">{{user.activated}}</a></td>
            <td><a href="/admin/user/{{user.id}}/{{user.user_name}}/password-change"><i class="fa fa-key"></i> change</a></td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}


{% block custom-scripts %}
<script type="text/javascript">
    (function($){
        function postActivation($elem){
            $.ajax({
                type: "POST",
                url: $elem.attr('href'),
                data: {activated: $elem.attr('data-action')},
                dataType: 'json'
            }).success(function(resp){
                $elem.text(resp.activated).attr('data-action', !resp.activated);
            }).error(function(resp){console.log('error: ' +resp)});
        }

        $('[data-role="activate"]').on('click',function(e){
            e.preventDefault();
            postActivation($(this));
        });

    }(jQuery))
</script>
{% endblock %}