{% extends "admin/devoops/layout.html" %}


{% block sidebar %}{%  endblock %}
{% block sidebar-show %}sidebar-show{% endblock %}

{% block content %}

<div class="row">
    <div id="breadcrumb" class="col-xs-12">
        <a href="#" class="show-sidebar"> <i class="fa fa-bars"></i>
        </a>
        <ol class="breadcrumb pull-left">

        </ol>
        <div id="social" class="pull-right">
            <a href="/admin/user" class="btn btn-primary btn">List</a>
        </div>
    </div>
</div>

    {% if user %}
<h2>{% fmt user_user %}: {{user.user_name}}</h2>
<form id="user-form" class="form-horizontal" action="/admin/user/{{user.id}}/{{user.user_name}}/password-change" role="form" method="POST" autocomplete="off" enctype="multipart/form-data">
    <div class="form-group">
        <label class="col-sm-1 control-label">{% fmt user_password %}</label>
        <div class="col-sm-4">
            <input name="user_password" type="password" class="form-control" placeholder="{% fmt user_password_placeholder %}" data-toggle="tooltip" data-placement="bottom" title="{% fmt user_password_tooltip %}" value="">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-1 control-label">{% fmt user_repeat_password %}</label>
        <div class="col-sm-4">
            <input name="user_password_repeat" type="password" class="form-control" placeholder="{% fmt user_repeat_password_placeholder %}" data-toggle="tooltip" data-placement="bottom" title="{% fmt user_repeat_password_tooltip %}" value="">
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-2">
            <a href="/admin/user" class="btn btn-primary btn">{% fmt user_list %}</a>
        </div>
        <div class="col-sm-2">
            <button type="submit" class="btn btn-primary btn-label-left">
                <span><i class="fa fa-clock-o"></i></span>
                {% fmt user_submit %}
            </button>
        </div>
        <div class="col-sm-4">
            <div id="submit-form-alert" class="alert alert-success col-sm-2 hidden" role="alert">
                <strong>Password changed</strong>.
            </div>
        </div>
    </div>

</form>
    {% endif %}
{% endblock %}