{% extends "admin/devoops/layout.html" %}

{% block sidebar %}{%  endblock %}
{% block sidebar-show %}sidebar-show{% endblock %}

{% block content %}
<div class="row">
    <div id="breadcrumb" class="col-xs-12">
        <a href="#" class="show-sidebar"> <i class="fa fa-bars"></i>
        </a>
        <div id="social" class="pull-right">
            <a href="/admin/shop/productTypeVariation" class="btn btn-primary btn">List</a>
        </div>
    </div>
</div>

<h2>{% if type-var%}{{type-var.name}}{% else %}New product type variation{% endif %}</h2>
<div class="col-xs-12 col-sm-12">
    <form id="product-type-put" class="form-horizontal" action="/admin/shop/productTypeVariation{% if type-var %}/{{type-var.type_id}}/{{type-var.variation_id}}{% endif %}" role="form" method="{% if type-var %}PUT{% else %}POST{% endif %}" enctype="multipart/form-data">
        <input type="hidden" name="id" value="{{type-var.id|default:0}}">
        <div class="form-group">
            <label class="col-sm-1 control-label">{% fmt shop_product_type %}</label>
            <select class="populate placeholder" name="type_id" id="s2_shop_product_type" style="width:100%">
                <option value="">-- Select type --</option>
                {% for type in shop-product-types %}
                <option value="{{type.id}}" {% ifequal type.id type-var.type_id %}selected="selected"{% endifequal %}>{{type.name}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label class="col-sm-1 control-label">{% fmt shop_variation %}</label>
            <select class="populate placeholder" name="variation_id" id="s2_shop_product_type_variation" style="width:100%">
                <option value="">-- Select variation --</option>
                {% for variation in shop-variation %}
                <option value="{{variation.id}}" {% ifequal variation.id type-var.variation_id %}selected="selected"{% endifequal %}>{{variation.name}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label class="col-sm-1 control-label">{% fmt shop_type_variation_price %}</label>
            <div class="col-sm-4">
                <input name="price" type="text" class="form-control" placeholder="{% fmt shop_type_variation_price_insert %}" data-toggle="tooltip" data-placement="bottom" title="{% fmt shop_type_variation_price %}" value="{{type-var.price}}">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-2">
                <a href="/admin/shop/productTypeVariation" class="btn btn-primary">List</a>
                <button type="submit" class="btn btn-primary btn-label-left">
                    <span><i class="fa fa-clock-o"></i></span>
                    Submit
                </button>
            </div>
            <div id="submit-form-alert" class="alert alert-success col-sm-2 hidden" role="alert">
                <strong>Action</strong> complete.
            </div>
        </div>
    </form>
</div>
{% endblock %}