<div class="row">
    <div id="breadcrumb" class="col-xs-12">
        <a href="#" class="show-sidebar"> <i class="fa fa-bars"></i>
        </a>
        <ol class="breadcrumb pull-left">
            <li><a href="/admin/pages/{{page.language_code}}">Pages</a></li>
            <li><a href="/admin/pages/{{page.language_code}}">{{page.language_code}}</a></li>
            <li><a href="/admin/page/{{page.id}}/{{page.name}}">{{page.title}}</a></li>
        </ol>
        <div id="social" class="pull-right">
            <a href="/admin/shop/productType" class="btn btn-primary btn">List</a>
        </div>
    </div>
</div>

<h2>{% if shop-product-type %}{{shop-product-type.name}}{% else %}New product type{% endif %}</h2>
<div class="col-xs-12 col-sm-12">
    <form id="product-type-put" class="form-horizontal" action="/admin/shop/productType{% if shop-product-type %}/{{shop-product-type.id}}{% endif %}" role="form" method="{% if shop-product-type %}PUT{% else %}POST{% endif %}" enctype="multipart/form-data">
        <input type="hidden" name="id" value="{{shop-product-type.id|default:0}}">
        <div class="form-group">
            <label class="col-sm-1 control-label">{% fmt page_name %}</label>
            <div class="col-sm-4">
                <input name="name" type="text" class="form-control" placeholder="{% fmt page_name %}" data-toggle="tooltip" data-placement="bottom" title="{% fmt page_name_tooltip %}" value="{{shop-product-type.name}}">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-1 control-label">{% fmt shop_product_type_weekly %}</label>
            <div class="col-sm-2">
                <div class="toggle-switch toggle-switch-success">
                    <label>
                        <input type="hidden" name="weekly" value="false">
                        <input type="checkbox" name="weekly" value="true" {% if shop-product-type.weekly %} checked {% endif %}>
                        <div class="toggle-switch-inner"></div>
                        <div class="toggle-switch-switch"><i class="fa fa-check"></i></div>
                    </label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-2">
                <a href="/admin/shop/productType" class="btn btn-primary btn-lg">List</a>
                <button type="submit" class="btn btn-primary btn-label-left">
                    <span><i class="fa fa-clock-o"></i></span>
                    Submit
                </button>
            </div>
            <div id="submit-form-alert" class="alert alert-success col-sm-2 hidden" role="alert">
                <strong>Action</strong> complete.
            </div>
        </div>
    </form>
</div>